body {
    width: 80%;
    margin: auto;
}
#map {
    height: 80vh;
}
#wrap{
    display: flex;
}

#map-wrap{
    /*float:right;*/
    flex: 1 ;
}

#content{
    float:left;
    overflow: auto;
    height: 80vh;
}


.blogpost{
    width: 50%;
}
.easy-button-button{
    width:100px;
}
