body {
    width: 80%;
    margin: auto;
}
#place-wrapper p, #place-wrapper ol,ul,li {
    font-weight: normal;
}
.dropcap p:first-child:first-letter {
    color: #0a4911;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}
.byline{
    font-size: 1.1em;
    color: #5e5e5e;
    font-weight: bold;
}


.header-img {
    width: 100%;
    padding-bottom: 20px;
}

#map {
    height: calc(100vh - 51px);
}#map-wrap{
     /*float:right;*/

     height: 100%;
     flex: 1 ;
 }#content{
    float:left;
    overflow: auto;
    /*height: calc(100vh - 51px);*/
} #wrap{

    height: 100%;
    display: flex;
}#map-section .container {
  height: calc(100vh - 51px);

  /*width: 85%;*/
  margin: auto;
}

a.anchor {
    display: block;
    position: relative;
    top: -51px;
    visibility: hidden;
}

#place-wrapper{
    /*margin-top: 51px;*/
}

.easy-button-button{
    width:100px;
}

.placeDescription{
    margin: 0 5%;
}

section, .placeDescription{
    text-align: center;
}
.placeDescription > h3 {
    color: #7b7b7b;
}
section p, section h2, .placeDescription p, .placeDescription h3{
    text-align: left;
}
section p {
    /*max-width: 75ch;*/
    text-align: justify;
}
section img {
    height: auto;
    max-width: 100%;
}
.more-btn {
    align: center;
    margin: 20px 0;
}
.section-heading-spacer {
    width: 20vw;
    border-top: 3px solid #e7e7e7;
}


body,
html {
    width: 100%;
    height: 100%;

    background-color: rgb(248, 248, 248)
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/header2.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0 0 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}
.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}