{% extends "base.twig" %}
{% set active_page = "blog" %}

{% block body %}

<h1>{{ current_page.title }}</h1>
    <p><span class="byline">by {{ meta.author }}</span> {{ current_page.date_formatted }}</p>
<hr>
<div class="dropcap">
{{ parent() }}
    </div>

{% endblock %}